.transaction-container, .account-info-container, .transaction-history-container{
    width:75%;
    margin:25px auto;
}

.transaction-container {
    background-color: rgba(0, 0, 255, 0.7);
    color:white;
    padding: 25px;
}

.account-info-container{
    border: 1px solid black;
    border-radius:5px;
}

.account-number-tab, .balance-tab, .available-balance-tab{
    width: 32%;
    text-align:center;
    padding: 10px;
    display:inline-block;
}

.account-number-tab, .balance-tab{
    border-right: 1px solid black;
}

.from-to-dropdowns-container span, .amount-container span{
    margin: 10px 15px;
    display:inline-block;
}

.submit-button, .deposit-withdraw-link
{
    background-color: yellow;
    color:black;
}

.deposit-withdraw-link{
    margin:5px 0;
}

.mat-form-field{
    margin:0 15px;
}

.view-button{
    background-color: rgba(0, 0, 255, 0.7);
    color:white;   
}

.transaction-history-table-container table{
    width: 100%;
}