<div class="full-page">
  <div class="hero-image">
    <div class="login-form">
      <div class="login">
        <span>Sign in to Online Banking</span>
        <form>
          <mat-form-field>
            <input class="login-control" matInput placeholder="Username" />
          </mat-form-field>
          <mat-form-field>
            <input
              class="login-control"
              matInput
              placeholder="Password"
              type="password"
            />
          </mat-form-field>
          <br />
          <button mat-raised-button>Sign in</button>
        </form>
      </div>
      <div class="signup">
        <span>New Member?</span>
        <br />
        <!-- <a mat-raised-button routerLink="/register" routerLinkActive="active">Sign up</a> -->
        <a mat-raised-button href="./register">Sign up</a>
      </div>
    </div>
  </div>
  <div class="why-xbank">
    <h1>WHY XBANK?</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum,
      leo nec consectetur volutpat, justo metus accumsan enim, a dapibus erat
      nibh nec ligula. Integer tristique dapibus mi. Sed sagittis blandit erat.
      Mauris blandit ac elit ut laoreet. In molestie cursus nibh varius
      vehicula. Etiam malesuada vestibulum urna, id lobortis velit ornare nec.
      Duis efficitur pharetra nisl. Nulla blandit gravida ex eget fringilla.
      Aliquam faucibus, augue ut scelerisque cursus, ligula dolor aliquet
      mauris, ac scelerisque sapien purus vel nulla. Etiam in tortor nec sapien
      aliquet sollicitudin. Integer in lobortis tellus. Ut non nibh lobortis
      magna finibus maximus.
    </p>
    <p>
      Aliquam tincidunt lectus in tellus volutpat, nec posuere turpis rhoncus.
      Pellentesque id condimentum purus. In ut urna at mauris vehicula gravida.
      Sed eget nisl vitae quam accumsan euismod. Morbi non tempus diam, nec
      aliquet eros. Nulla dictum venenatis sagittis. Morbi lobortis rhoncus arcu
      pharetra efficitur. Sed suscipit maximus facilisis. Donec semper sit amet
      nisi sed ultrices. Nullam venenatis, sem vel tincidunt vehicula, purus
      velit placerat diam, pharetra dictum risus elit congue velit. Aliquam
      maximus a lacus sed fermentum. Phasellus velit mauris, scelerisque quis
      mauris in, fermentum mattis turpis. Pellentesque eget nibh bibendum,
      imperdiet lacus et, ultrices massa. Phasellus quam augue, rutrum vitae
      mauris in, consequat euismod urna. Maecenas suscipit ante id tortor
      ornare, a aliquet risus viverra. Vivamus eu metus nec erat tempus mollis.
    </p>
  </div>
  <div class="why-xbank">
    <mat-card class="why-xbank-card">
      <mat-card-header>
        <mat-card-title>CREDIT CARD</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>0.14%</p>
        <a href="#">Details ></a>
      </mat-card-content>
    </mat-card>
    <mat-card class="why-xbank-card">
      <mat-card-header>
        <mat-card-title>ONLINE TRANSFERS</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>0.05%</p>
        <a href="#">Details ></a>
      </mat-card-content>
    </mat-card>
    <mat-card class="why-xbank-card">
      <mat-card-header>
        <mat-card-title>INTERNATIONAL TRANS</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>0.04%</p>
        <a href="#">Details ></a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
