<div class="as-container">
  <div class="services">
    <div class="options-container">
      <div class="option">All Transactions</div>
      <div class="option">Make a Transfer</div>
      <div class="option">Go Paperless</div>
      <div class="option">Edit Profile</div>
      <div class="option">Edit/Add Alerts</div>
      <div class="option">Contact Support</div>
    </div>
    <div class="account-services-container">
      <div class="account-services">
        Account Services:
        <ul>
          <li><a href="#">Order New Checks</a></li>
          <li><a href="#">Order New Card</a></li>
          <li><a href="#">Add New Account</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accounts">
    <div class="savings-accounts">
      <div class="savings">
        <div class="savings-header">
          <a href="#">Savings - XXXX-0001</a>
          <hr />
        </div>
        <div class="savings-balance">
          <b>$X.XX</b>
        </div>
      </div>
    </div>
    <div class="chequing-accounts">
      <div class="chequing">
        <div class="chequing-header">
          <a href="#">Chequing - XXXX-0001</a>
          <hr />
        </div>
        <div class="chequing-balance">
          <b>$X.XX</b>
        </div>
      </div>
    </div>
  </div>
</div>
