.as-container {
  width: 75%;
  margin: 50px auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .options {
    display: none;
  }

  .savings,
  .chequing {
    width: 100%;
    min-height: 50px;
    border: 2px solid black;
    padding: 5px;
    margin: 20px 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}
